.container-post{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding:20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
   
    justify-content:space-around;

   
}
.time{
    display: flex;
    font-size:smaller;
    color:rgb(131, 128, 128);
    justify-content: space-between;
    justify-self: flex-end;

}
.clickable{
    line-height: 1.5em;
    text-decoration: none;
    color:inherit;
}

